
*{
	margin: 0;
	top:0;

}


header a img{
margin: 27px 0 25px 25px ; 	
	

}
#logo{
	width: 14.1%;
height: 2.3%;
	margin: 27px 0 0 0 ;

}

#containerMiddle{
	max-height: 600px;
}

#rowContainerMiddle{	
	float: none;
	margin: 0 auto;
	margin-top: 30px;
}

#parallaxBar{
	background-color:#004c82;
	background: url(../img/bgparallax.jpg) no-repeat center  fixed;
	webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
	position: relative; 	
    width: 99.9%;
	min-height: 668px;
}



.folder1 {

font-family: 'PT Sans', sans-serif;
color: #175a6b;
text-align: center;
margin-bottom: 0;

}

.textoSicoob p{

font-family: 'PT Sans', sans-serif;
color: #3d9f95;;
font-size: 28.52px;
font-weight:700; 
text-align: center;
padding-top: 20px;
padding-bottom: 20px;

}

.textoVantagens  {
	font-family: 'PT Sans', sans-serif;
	color:#3d9f95;
	font-weight: 400;
	text-align: left;



}

.buttonYellow {
	font-family: 'PT Sans', sans-serif;
	color: #ffffff;
	font-weight: 700;
	text-align: center;
}


#contato{
	background: white;
	text-align: center;
	float: right;
	width: 290px;
}
#contato p{
	font-family: 'PT Sans', sans-serif;
	color:  #3d9f95;
	font-size: 20px; 
	text-align: center;
}

#contato p.sizep{
	font-size: 13px;
}

#contato img{
	width: 130px;
	/*! height: 131px; */
	/*! margin-left: 90px; */
	margin-top: 25px;
	margin: 0 auto;
}

}
#sicoob{
	height: 750px;
	
	position: relative;
}

.btnYellow {
	width:75%;
	text-align: center;
	background: url(../img/fundo_clique_amarelo.png);
	padding: 30px;
	color: white;
}

.img-responsive{
max-width: 100%;
height: auto;
display: block;

}
#rodape{
	padding: 20px;
	border-top: 2px solid #e1e1e1;
}

.btntext{
	font-family: 'PT Sans', sans-serif;
	color:  #7da837;
	text-align: left;
	font-size: large; 

}
.infosegura{
	font-family: 'PT Sans', sans-serif;
	text-align: center;
	font-size: large;
}

/*tabela */

.tablehead{
	background: DimGrey;
	color: white;
	font-family: 'PT Sans', sans-serif;
	color:  #ffffff;
	font-size: large;
}

.tableSicoob{
	font-family: 'PT Sans', sans-serif;
	font-size: large;
}
.tabletextSicoob {
	color:  #7da837;
	font-weight: 700;

	

}
.tabletextconsorcio{
color:  #3d9f95;

}

.tablebackadm1{
	color:white;
	text-align: center;

}
.tablebackadm2{
	color:white;
	text-align: center;


}
.tablebackamd5{
	color:white;
	text-align: center;

	
}
.tablebackvalor{
	background-color: #E4E6E5;
	text-align: center;

}

.cotacao{
	display: block;
	padding: 15px 37px;
	border: 7px solid white;
	border-radius: 0;
	max-width: 290px;
	margin: 0 auto;
}
.bannercabecalho .cotacao{
	position: absolute;
	bottom: 0;
	top: auto;
}
.bannercabecalho .cotacao.c2{
	display: none;
}
.cotacao:hover{
	border-color:white !important;
}
.bannercabecalho{
	margin:0 auto !important;
	width: 660px;
	display: table;
	position: relative;
	/*!  */
}


.center.my{
	display: block;
	width: 56%;
	margin: 0 auto;
}
.center.my > #contato{
	float:none;
	margin:0 auto;
	width: 100%;
}

.center.my > .textoVantagens{
	width:50%;
}

.center.my > .textoVantagens.telefone{
	width:50%;
}
.boxes .row h3{
	
	margin-top: -3px;
	font-size:20px;
	text-align:justify;
}

.boxes .row{
	margin-bottom: 40px;
}
strong.zap{
		font-size: 26pt;
	}



#contactform{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background:rgba(0, 177, 169, 0.82);
}

#contactform #formleft{
	display: block;
	width: 330px;
	padding:30px;
	margin: 0 auto;
	margin-top:50px;
	background: white;
	z-index: 999;
	opacity: 1;
}

#contactform #formleft .btncontact{
	margin-top:20px;
	border-radius: 0;
	display: block;
	padding: 5px 50px;
}
.infosegura{
	width: 100%;
	font-size: 10pt;
	display: block;
	float: none;
	margin-bottom: -20px;
}
.infosegura p img{
	width: 14px;
	margin-right: 7px;
	margin-top: -6px;
}

#contactform #formleft .fechar{
	float: right;
	margin-top:-45px;
	margin-right: -45px;
	background: white;
	width: 25px;
	height: 25px;
	text-align: center;
	border-radius: 50%;
	font-size: 14pt;
	color:red;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.35);
}
@media (max-width:1199px) {
	.bannercabecalho{
		width: 200px;
		height: auto;
		margin-top: 10px !important;
	}
	
	.center.my{
	display: block;
	width: 100%;
	margin: 0 auto;
}
.center.my > div{
	display:inline-block;
}

.center.my > .textoVantagens{
	width:100%;
}
.center.my h4{
	/*! font-size:13px; */
	text-align: center;
}
.center.my > .textoVantagens.telefone{
	width:100%;
}
.boxes .row h3{
	
	margin-top: 8px;
	font-size:20px;
	text-align:center;
}

.boxes .row{
	margin-bottom: 0px;
}
	.boxes .row .col-md-2{
		margin-bottom:55px
	}
	.bannercabecalho .cotacao.c1{
		display: none;
	}
	.bannercabecalho .cotacao.c2{
		display: block;
		/*!  */
		margin: 0 auto;
		float: none;
		bottom: -96px;
	}
	.bannercabecalho #contato p
	{
		font-size: 12pt;
	}
	
	#contato p.sizep{
	font-size: 10px;
}

	.bannercabecalho #contato img{
		width: 65px;
	}
	.folder1{
		font-size: 26px;
	}
	.selo{
		float:none !important;
		margin:0 auto;
	}
	.pontaStamp{
		width: 40%;
		text-align: center;
		margin: 0 auto;
		margin-top: 11px;
	}
	.telefone img{
		width: 25px;
	}
	strong.zap{
		font-size: 20pt;
	}
	
	.center.my > #contato{
	float:none;
	margin:0 auto;
	width: 100%;
}
}
